.header{
    width: 100%;
    height: 80px;line-height: 80px;
}
 .nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

 }
 .menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
 }
.menu_link{
    font-weight: 400;
    font-size: 9rem;
    cursor: pointer;
}
.menu_link:hover{
    color: #ff0000;
}
.logo h2 {
    color: #fff;
}
.light_mode span{
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 0.8rem;
}
.header_shrink{
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
